.page-footer {
    padding: 35px 0;
    &__text {
        text-align: center;
        margin: 10px auto;
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
        /* or 217% */
        /* Светло-синий */
        color: #A6B1CE;
    }
}