.revievs {
    &__img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        text-align: center;
    }
    &__img-wrapper {
        position: relative;
    }
    &__btn-play {
        background-image: url("../../img/header-btn-play.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 25%;
        display: block;
        height: 25%;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
    &__name-title {
        color: #FFFFFF;
        margin-bottom: 32px;
        text-align: -webkit-center;
    }
    &__name {
        font-size: 16px;
        line-height: 26px;
        color: #A6B1CE;
        display: block;
        text-align: center;
        &_1 {
            position: relative;
            &::before {
                content: ' ';
                position: absolute;
                background-image: url(../../img/revievs-before-1.svg);
                top: 0;
                left: 95px;
                width:54px;
                height: 54px;
                @media (max-width: 1199.98px) {
                    left: 70px;
                }
                @media (max-width: 767.98px) {
                    left: 120px;
                }
                @media (max-width: 575.98px) {
                    left: 40px;
                }
            }
        }
        &_2 {
            position: relative;
            &::before {
                content: ' ';
                position: absolute;
                background-image: url(../../img/revievs-before-2.svg);
                top: 0;
                left: 95px;
                width: 54px;
                height: 54px;
                @media (max-width: 1199.98px) {
                    left: 70px;
                }
                @media (max-width: 575.98px) {
                    left: 40px;
                }
            }
        }
    }
    &__btn {
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 64px;
    }
}
