.section-1 {
    padding: 72px 0 72px 0;
    &__item {
        padding-bottom: 100px;
    }
    &__title {
        &_right {
            text-align: center;
        }
    }
    &__border {
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #0D1334;
        height: auto;
        width: auto;
        display: block;
        @media (max-width: 991.98px) {
            margin-top: 250px;
        }
        &_1 {
            background-image: url("../../img/border.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            //background-image: url("http://placeholder.pics/svg/150x250/DEDEDE/000000");
            // &::before {
            //     content: '';
            //     position: absolute;
            //     background-image: url("../../img/section-1__icon-1.png");
            //     background-repeat: no-repeat;
            //     background-size: contain;
            //     top: -10px;
            //     left: 0;
            //     bottom: -10px;
            //     width: 350px;
            //     transform: translateX(-60%);
            //     @media (max-width: 991.98px) {
            //         display: none;
            //     }
            //     @media (max-width: 767.98px) {}
            // }
            &::after {
                content: ' ';
                background-image: url("../../img/big-Ellipse.svg");
                position: absolute;
                width: 82px;
                height: 82px;
                right: 110px;
                top: -50px;
            }
        }
        &_2 {
            background-image: url("../../img/border-2.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            // &::after {
            //     content: '';
            //     position: absolute;
            //     background-image: url("../../img/section-1__icon-2.png");
            //     background-repeat: no-repeat;
            //     background-size: contain;
            //     top: -15px;
            //     left: 100%;
            //     bottom: -15px;
            //     width: 400px;
            //     transform: translateX(-20%);
            //     @media (max-width: 991.98px) {
            //         display: none;
            //     }
            //     @media (max-width: 767.98px) {}
            // }
        }
        &_3 {
            background-image: url("../../img/border.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }
    &__border-text {
        padding: 40px 51px;
        font-size: 16px;
        line-height: 26px;
        color: #A6B1CE;
        &_p {
            padding-top: 25px;
        }
    }
    &__img {
        // max-width: 100%;
        // height: 120%;
        max-height: 350px;
        position: absolute;
        z-index: 5;
        object-fit: cover;
        bottom: 0;
        top: 0;
        &.-i1 {
            right: 100%;
            transform: translate(100px, 0);
            @media (max-width: 991.98px) {
                // transform: translateY(80px);
                right: 65%;
                top: 0;
                transform: translate(50%, -70%);
                z-index: -1;
            }
            @media (max-width: 767.98px) {}
        }
        &.-i2 {
            left: 100%;
            transform: translate(-80px, 0);
            @media (max-width: 991.98px) {
                left: 60%;
                top: 0;
                transform: translate(-50%, -70%);
                z-index: -1;
            }
            @media (max-width: 767.98px) {}
        }
        &.-i3 {
            right: 100%;
            transform: translate(30%, 0);
            @media (max-width: 991.98px) {
                z-index: -1;
                right: 60%;
                top: 0;
                transform: translate(50%, -70%);
            }
            @media (max-width: 767.98px) {}
        }
    }
    &__vector {
        width: 70px;
        height: 150px;
        background-image: url(../../img/section-1__vector.svg);
        background-position: top center;
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
    }
    &__vector-2 {
        width: 98px;
        height: 120px;
        background-image: url(../../img/section-1__vector-2.svg);
        background-position: top;
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
    }
    &__list {
        padding-left: 0;
        list-style: none;
    }
    &__list-item {
        padding-bottom: 16px;
        position: relative;
        &::before {
            content: ' ';
            position: absolute;
            background-image: url("../../img/list_before.svg");
            width: 14px;
            height: 14px;
            left: -20px;
            top: 5px;
        }
    }
}