
// GLOBAL STYLES
@import "global/custom-variables";

@import "global/functions";
@import "global/bootstrap-variables";
@import "global/mixins";
@import "global/reboot";
@import "global/type";
@import "global/grid";
@import "global/forms";
@import "global/buttons";
@import "global/utilities";
@import "global/fonts";
@import "global/tabs";

// PLUGINS STYLE
@import "plugins/icons";

// BLOCKS STYLE
@import "blocks/popup-block";
@import "blocks/page-header";

@import "blocks/page-footer";
@import "blocks/section-1";
@import "blocks/section-2";
@import "blocks/author";
@import "blocks/student";


body {
	position: relative;
	background: #0D1334;

	padding-left: 100px;


	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	font-family: 'Open Sans', sans-serif;
	color: #A6B1CE;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	min-width: 320px;
	@media (max-width: 1399.98px) {
		padding-left: 50px;
	}
	@media (max-width: 991.98px) {
		padding-left: 46px;
		padding-right: 46px;
	}
	@media (max-width: 767.98px) {
		padding-left: 11px;
		padding-right: 11px;
	}
}
a:hover{
	text-decoration: none;
}
